{{>layout/header}}
{{#DetailDTO}}
    <div class="container p-5">
        <!-- 게시글내용 -->
        <div>
            <div class="d-flex justify-content-between">
                <h2><b>{{title}}</b></h2>
                <h6>{{createdAt}}</h6>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <span><b>작성자</b> : {{user.username}}</span>
                <span><b>카테고리</b> : {{category}}</span>
            </div>
            <hr/>
            <div class="row justify-content-center" style="align-items: center">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center mb-3">
                        <div class="position-relative">
                            <div class="box-container">
                                <div class="d-flex justify-content-center align-items-center" id="boardImg">
                                    {{#boardImg}}
                                        <img style="max-width: 100%; max-height: 100%; object-fit: contain;"
                                             src="/upload/{{boardImg}}" alt="">
                                    {{/boardImg}}
                                    {{^boardImg}}
                                        <div style="height: 150px"></div>
                                    {{/boardImg}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-4 p-2">
                    {{content}}
                </div>
            </div>

            {{#isBoardOwner}}
                <!-- 수정삭제버튼 -->
                <div class="d-flex justify-content-end">
                    <a href="/boards/{{id}}/update-form" class="btn btn-warning me-1">수정</a>
                    <form action="/boards/{{id}}/delete" method="post">
                        <button class="btn btn-danger">삭제</button>
                    </form>
                </div>
            {{/isBoardOwner}}
            <!-- 댓글 -->
            <div class="card mt-3">
                <!-- 댓글등록 -->
                <div class="card-body">
                    <form action="/replies/save" method="post">
                        <textarea class="form-control" rows="2" name="comment"></textarea>
                        <div class="d-flex justify-content-end">
                            <input type="hidden" name="boardId" value="{{id}}">
                            <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                        </div>
                    </form>
                </div>

                <!-- 댓글목록 -->
                <div class="card-footer">
                    <b>댓글리스트</b>
                </div>
                {{#replies}}
                <div class="list-group">
                    <!-- 댓글아이템 -->
                    <div class="list-group-item d-flex justify-content-between align-items-center"
                         style="height: 50px;" data-id="{{id}}">
                        <div class="d-flex">
                            <div class="px-1 me-1 bg-primary text-white rounded">{{username}}</div>
                            <div>{{comment}}</div>
                        </div>
                        <div class="inline-elements">
                            {{#isReplyOwner}}
                                <form action="/replies/{{id}}/delete" method="post">
                                    <button class="btn">🗑</button>
                                </form>
                            {{/isReplyOwner}}
                            {{#sessionUser}}
                                <a class="text-body add-reply" href="#">댓글달기</a>
                            {{/sessionUser}}
                        </div>
                    </div>
                    <div class="comment-form">
                        <!-- 댓글 입력 폼이 동적으로 추가될 영역 -->
                    </div>
                    {{#reply2List}}
                    <div class="list-group">
                        <!-- 대댓글  -->
                        <div class="list-group-item d-flex justify-content-between align-items-center"
                             style="height: 50px;" data-id="{{id}}">
                            <div class="d-flex">
                                <div style="margin-right: 5px;">└</div>
                                <div class="px-1 me-1 bg-primary text-white rounded">{{username}}</div>
                                <div>{{comment}}</div>
                            </div>
                            {{#isReply2Owner}}
                                <div class="inline-elements">
                                    <form action="/replies2/{{reply2Id}}/delete" method="post">
                                        <button class="btn">🗑</button>
                                    </form>
                                </div>
                            {{/isReply2Owner}}
                        </div>
                    {{/reply2List}}
                {{/replies}}
            </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{{/DetailDTO}}

{{>layout/footer}}

<script>
    $(document).ready(function () {
        $('.add-reply').click(function (event) {
            event.preventDefault();
            const parent = $(this).closest('.list-group-item').next('.comment-form');

            if (parent.is(':hidden')) {
                parent.html(`
                        <form action="/replies2/save" method="post" class="w-100 mt-2">
                            <textarea class="form-control" rows="2" name="comment"></textarea>
                            <div class="d-flex justify-content-end mt-1">
                                <input type="hidden" name="replyId" value="${$(this).closest('.list-group-item').data('id')}">
                                <button type="submit" class="btn btn-outline-primary">댓글등록</button>
                            </div>
                        </form>`);
                parent.show();
            } else {
                parent.hide();
            }
        });
    });
</script>
