{{>layout/header}}
<!-- 바디 start -->
<main class="main-size">
    <div class="div-container">
        <br>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="div-recommendation mb-20">게시글 목록</div>
            <div style="display: flex; align-items: center;">
                <a class="text-body" name="sort" href="?sort=0">최신순</a>
                <span style="margin: 0 10px;">|</span>
                <a class="text-body" name="sort" href="?sort=1">오래된순</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>사진</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            {{#FoodListDTO}}
                <tr>
                    <td>{{id}}</td>
                    {{#boardImg}}
                        <td><img src="/upload/{{boardImg}}" alt="사진" width="50" height="50"></td>
                    {{/boardImg}}
                    {{^boardImg}}
                        <td><img src="/upload/no-image.jpg" alt="사진" width="50" height="50"></td>
                    {{/boardImg}}
                    <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                    <td><a href="/boards/{{id}}" class="text-body">{{username}}</a></td>
                    <td>{{createdAt}}</td>
                </tr>
            {{/FoodListDTO}}
            </tbody>
        </table>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="col-md-4">
                <form action="/" method="get" class="form-inline">
                    <div class="input-group rounded box-tf">
                        <input class="form-control me-2 rounded-end tf-search" type="text" placeholder="   키워드를 입력하세요"
                               name="keyword" required/>
                        <a href="#" class="text-body" name="keyword"></a>
                    </div>
                </form>
            </div>
            <form action="/boards/save-form" method="get">
                <button class="btn btn-outline-primary">+작성</button>
            </form>
        </div>
    </div>

</main>
<!-- 바디 end -->
{{>layout/footer}}
