{{>layout/header}}
<!-- 바디 start -->
{{#SearchDTO}}
    <main class="main-size">
        <div class="div-container">
            <br>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="div-recommendation mb-20">{{count}}개의 검색 결과</div>
                <div style="display: flex; align-items: center;">
                    <a class="text-body" id="sort-latest" href="#">최신순</a>
                    <span style="margin: 0 10px;">|</span>
                    <a class="text-body" id="sort-oldest" href="#">오래된순</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>사진</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성일</th>
                </tr>
                </thead>
                <tbody>
                {{#boards}}
                    <tr>
                        <td>{{id}}</td>
                        {{#boardImg}}
                            <td><img src="/upload/{{boardImg}}" alt="사진" width="50" height="50"></td>
                        {{/boardImg}}
                        {{^boardImg}}
                            <td><img src="/upload/no-image.jpg" alt="사진" width="50" height="50"></td>
                        {{/boardImg}}
                        <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                        <td><a href="/boards/{{id}}" class="text-body">{{username}}</a></td>
                        <td>{{createdAt}}</td>
                    </tr>
                {{/boards}}
                {{^boards}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div style="height: 100px"></div>
                            <div class="d-flex justify-content-center align-items-center"><h3>검색 목록이 없습니다.</h3></div>
                            <div style="height: 100px"></div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/boards}}
                </tbody>
            </table>
        </div>
    </main>
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="?page=">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page=">1</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="?page=">Next</a>
            </li>
        </ul>
    </div>
{{/SearchDTO}}
<!-- 바디 end -->
{{>layout/footer}}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        function updateSort(sortOrder) {
            let urlParams = new URLSearchParams(window.location.search);
            urlParams.set('sort', sortOrder);
            window.location.search = urlParams.toString();
        }

        let sortLatest = document.getElementById('sort-latest');
        let sortOldest = document.getElementById('sort-oldest');

        sortLatest.addEventListener('click', function (e) {
            updateSort('0');
        });

        sortOldest.addEventListener('click', function (e) {
            updateSort('1');
        });
    });
</script>
