{{>layout/header}}
<style>

    * {
        margin: 0px;
        box-sizing: border-box;
    }

    .p-text {
        font-size: 13px;
        margin-top: 10px;
        color: rgb(66, 66, 66);
    }
</style>
<!-- 바디 start -->
<br>
<br>
<div class="div-card-container">
    <div class="card div-card">
        <div class="card-header" style="text-align: center">
            <h2>회원가입</h2>
        </div>
        <div class="card-body">
            <form action="/join" method="post" enctype="application/x-www-form-urlencoded">
                <div>아이디</div>
                <div class="mb-3">
                    <input type="text" name="username" id="username" placeholder="Enter username.." value="love"
                           class="form-control" onchange="usernameCheck()"
                           required>
                    <div id="usernameMessage" class="p-text"></div>
                </div>

                <div>비밀번호</div>
                <div class="mb-3">
                    <input type="password" name="password" id="password" placeholder="Enter password.."
                           class="form-control"
                           required>
                </div>
                <div>비밀번호 확인</div>
                <div class="mb-3">
                    <input type="password" name="passwordCheck" id="passwordCheck" placeholder="Enter password.."
                           class="form-control" onchange="passwordSameCheck()"
                           required>
                    <div id="passwordMessage" class="p-text"></div>
                </div>

                <div class="mb-3">
                    <p class="p-text">휴대전화</p>
                    <input type="tel" pattern="[0-9]{9, 11}" title="번호만 입력하세요" name="phone" id="phone"
                           value="01092730000" class="form-control" required>
                </div>

                <div class="mb-3">
                    <p class="p-text">이메일</p>
                    <input type="email" name="email" id="email" placeholder="Enter email.." value="greeni@green.ac.kr"
                           class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary form-control mt-3">회원가입</button>
            </form>
        </div>
    </div>
</div>

<!-- JavaScript 코드를 HTML 문서의 끝 부분에 위치시킵니다 -->
<script>
    let isSameCheck = false;

    function usernameCheck() {
        let username = $("#username").val();

        $.ajax({
            type: "get",
            url: "/api/username-same-check",
            data: {username: username}
        }).done((res) => {
            if (res.body === false) {
                isSameCheck = true;
                $("#usernameMessage").text("사용 가능한 아이디입니다.").css("color", "green");
            } else {
                isSameCheck = false;
                $("#usernameMessage").text("아이디가 중복되었습니다.").css("color", "red");
            }
        }).fail((res) => {
            $("#usernameMessage").text(res.responseJSON.msg).css("color", "red");
        });
    }

    function passwordSameCheck() {
        let password = $("#password").val();
        let passwordCheck = $("#passwordCheck").val();

        if (password === passwordCheck) {
            $("#passwordMessage").text("비밀번호가 일치합니다.").css("color", "green");
        } else {
            $("#passwordMessage").text("비밀번호가 일치하지 않습니다.").css("color", "red");
        }
    }
</script>

<!-- 바디 end -->
{{>layout/footer}}
