{{> layout/header }}

<div style="display: flex; justify-content: center">
    <div class="card" style="width: 400px; margin-top: 5%; margin-bottom: 10%">
        <div class="card-header" style="text-align: center">
            <h2>처음이신가요?</h2>
        </div>
        <div class="card-body">
            <a href="/join-form" class="btn btn-primary form-control"
               style="height: 46px; display: inline-block; text-align: center; padding-top: 12px; padding-bottom: 12px; color: white; text-decoration: none;">
                일반 회원가입
            </a>

            <div style="text-align: center; margin-top: 10px;">
                <a href="https://your-kakao-login-link.com" class="btn btn-light"
                   style="background-color: #FFEB00; border: none; color: black; display: flex; align-items: center; justify-content: center; width: 100%; padding: 10px 0; text-decoration: none;">
                    <img src="https://static.011st.com/assets/img/svg/member/sns-kakao.svg" alt="Kakao Login"
                         style="width: 24px; height: 24px; margin-right: 8px;">
                    <span>카카오 회원가입</span>
                </a>
            </div>
            <div style="text-align: center; margin-top: 10px;">
                <a href="https://your-naver-login-link.com" class="btn btn-light"
                   style="background-color: #1EC800; border: none; color: white; display: flex; align-items: center; justify-content: center; width: 100%; padding: 10px 0; text-decoration: none;">
                    <img src="https://static.011st.com/assets/img/svg/member/sns-naver.svg" alt="Naver Login"
                         style="width: 24px; height: 24px; margin-right: 8px;">
                    <span>네이버 회원가입</span>
                </a>
            </div>


        </div>
    </div>
</div>
<!-- 바디 end -->
{{>layout/footer}}
