{{> layout/header}}
<div class="container mt-5 mb-5">
    {{#MainDTO}}
        <div class="row">
            <div class="col-md-6">
                <div class="div-layout">
                    <div class="div-header d-flex justify-content-between">
                        <h3><b>스포츠</b></h3>
                        <form action="/boards/sports" method="get" class="justify-content-end">
                            <button class="btn btn-outline-primary">더보기</button>
                        </form>
                    </div>
                    <div class="div-announcement fixed-height">
                        <table class="table table-hover" style="text-align: center">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일</th>
                            </tr>
                            {{#sportsDTOs}}
                                <tr>
                                    <td><a href="/boards/{{id}}" class="text-body">{{id}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{createdAt}}</a></td>
                                </tr>
                            {{/sportsDTOs}}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="div-layout">
                    <div class="div-header d-flex justify-content-between">
                        <h3><b>게임</b></h3>
                        <form action="/boards/games" method="get" class="justify-content-end">
                            <button class="btn btn-outline-primary">더보기</button>
                        </form>
                    </div>
                    <div class="div-announcement fixed-height">
                        <table class="table table-hover" style="text-align: center">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일</th>
                            </tr>
                            {{#gameDTOs}}
                                <tr>
                                    <td><a href="/boards/{{id}}" class="text-body">{{id}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{createdAt}}</a></td>
                                </tr>
                            {{/gameDTOs}}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="div-layout">
                    <div class="div-header d-flex justify-content-between">
                        <h3><b>음식</b></h3>
                        <form action="/boards/foods" method="get" class="justify-content-end">
                            <button class="btn btn-outline-primary">더보기</button>
                        </form>
                    </div>
                    <div class="div-announcement fixed-height">
                        <table class="table table-hover" style="text-align: center">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일</th>
                            </tr>
                            {{#foodDTOs}}
                                <tr>
                                    <td><a href="/boards/{{id}}" class="text-body">{{id}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{createdAt}}</a></td>
                                </tr>
                            {{/foodDTOs}}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="div-layout">
                    <div class="div-header d-flex justify-content-between">
                        <h3><b>영화</b></h3>
                        <form action="/boards/movies" method="get" class="justify-content-end">
                            <button class="btn btn-outline-primary">더보기</button>
                        </form>
                    </div>
                    <div class="div-announcement fixed-height">
                        <table class="table table-hover" style="text-align: center">
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성일</th>
                            </tr>
                            {{#movieDTOs}}
                                <tr>
                                    <td><a href="/boards/{{id}}" class="text-body">{{id}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{title}}</a></td>
                                    <td><a href="/boards/{{id}}" class="text-body">{{createdAt}}</a></td>
                                </tr>
                            {{/movieDTOs}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/MainDTO}}
</div>
{{> layout/footer}}
